<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.ConBanco" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ProjetosGit\GestaoEstoque\Banco_Sistema.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>